h1 {
    color: skyblue;
}
span {
    color:red;
}

* {
    text-align: center;
    margin: 0 auto;
    line-height: 2em;
}

h1 h2 {
    background-color: black;
    width: 200px;
    height: 300px;
}

#hello-world {
    font-family: 'Nasu';
}